<%- include('headers.ejs'); %>

<div class="wrapcontent">
	<div class="wrapdtbl">
		<div class="cell">
			<div class="inner innerlist rowtop">
				<p>
				<h4><a href="/login">Login Now</a></h4>
				</p>
			</div>

			<div class="inner innerlist">
				<h1>Change Password</h1>

				<p class="success">
					Your password has been changed. Please login again.
				</p>

				<br />
			</div>
		</div>
	</div>
</div>

<%- include('footer'); %>
