  <!-- Core scripts -->
    <script src="/assets/vendor/libs/popper/popper.js"></script> 
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/js/sidenav.js"></script>

    <!-- Libs -->    
    <script src="/assets/vendor/libs/minicolors/minicolors.js"></script>    
      
    <!-- Demo -->
    <script src="/assets/js/demo.js"></script>
    <script src="/assets/js/ui_tooltips.js"></script>        
  </body>
</html>