<%- include('headers.ejs'); %>

<!-- Content -->
<div class="authentication-wrapper authentication-2 px-4">
	<div class="authentication-inner py-5">

		<!-- Form -->
		<div class="card">
			<div class="p-4 p-sm-5">				
				<div class="display-1 lnr lnr-cross-circle text-center text-danger mb-4"></div>
				<p class="text-center text-big mb-4">
					Member registration is disabled at the moment. Please come back again later.
				</p>
				
				<a class="btn btn-primary btn-block" style="background-color:#16bade" href="/login">Log In Instead</a>
			</div>
		</div>
		<!-- / Form -->
	</div>
</div>
<!-- / Content -->
	
<%- include('footer'); %>
