<%- include('headers.ejs'); %>
	<!-- Content -->

  <div class="authentication-wrapper authentication-3">
    <div class="authentication-inner">

      <!-- Side container -->
      <!-- Do not display the container on extra small, small and medium screens -->
      <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" 
				 style="background-image: url('https://cdn.glitch.global/2b7c1788-df0a-46c2-9fd0-ff2ef560081f/spacewar.png');">
        <div class="ui-bg-overlay bg-dark opacity-50"></div>

        <!-- Text -->
        <div class="w-100 text-white px-5">
          <h1 class="display-2 font-weight-bolder mb-4">JOIN OUR COMMUNITY</h1>
          <div class="text-large font-weight-light">
            Mexar is a fan-made sequel to sarra. 
						<br />This is the place where you can play some weird tanks while chatting with your friends.
          </div>
        </div>
        <!-- /.Text -->
      </div>
      <!-- / Side container -->

      <!-- Form container -->
      <div class="theme-bg-white d-flex col-lg-4 align-items-center p-5">
        <!-- Inner container -->
        <!-- Have to add `.d-flex` to control width via `.col-*` classes -->
        <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
          <div class="w-100">

            <!-- Logo -->
						<div class="d-flex justify-content-center align-items-center pb-2 mb-4">
							<h2 class="text-muted">Mexar</h2>
						</div>
						<!-- / Logo -->

						<h5 class="text-center text-muted font-weight-normal mb-4">
							<%= title %>
						</h5>
            

						<div id="messagePanel" class="alert alert-danger alert-dismissible fade show" style="visibility: hidden;">
							<button type="button" class="close" data-dismiss="alert">×</button>					
						</div>

            <!-- Form -->
						<form id="registerForm" action="/register" method="POST">           							
							<div class="form-group">
								<label class="form-label">
									Username: <span class="required">*</span>
									<i class="fas fa-question-circle" data-toggle="tooltip" data-state="primary"
												data-original-title="This will be your player name after in-game authentication"></i>
								</label>						
								<input type="text" class="form-control" id="username" name="username" autocomplete="on" maxlength="30" required>
								<span data-validation-for="username" class="field-error"></span>
							</div>
				
							<div class="form-group">
								<label class="form-label">
									Password: <span class="required">*</span>
									<i class="fas fa-question-circle" data-toggle="tooltip" data-state="primary"
											data-original-title="SHA256 hash will be generated and stored on the server instead of your password"></i>
								</label>						
								<input type="password" class="form-control" id="password" name="password" autocomplete="off" maxlength="30" required>
								<span data-validation-for="password" class="field-error"></span>
							</div>

							<div class="form-group">
								<label class="form-label">
									Confirm Password: <span class="required">*</span>
								</label>						
								<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" autocomplete="off" maxlength="30" required>
								<span data-validation-for="confirmPassword" class="field-error"></span>
							</div>
														
							<div class="d-flex justify-content-between align-items-center m-0">
								<input type="submit"   style="background-color:#16bade"  name="submit" class="btn btn-primary" value="Register" />
							</div>
						</form>
						<!-- / Form -->

            <div class="text-center text-muted">
              Existing member? <a href="/login">Log In</a>
            </div>

          </div>
        </div>
      </div>
      <!-- / Form container -->

    </div>
  </div>
  <!-- / Content -->

	<script>
		// Attach a submit handler to the form
		$("#registerForm").submit(function(event) {
		  	// Stop form from submitting normally
		  	event.preventDefault();
			$('input[type="submit"]').prop('disabled', true);

			const url = document.getElementById('registerForm').getAttribute('action');

			const data = {
				username: getValueById('username'),
				//role: getValueById('role'),
				password: getValueById('password'),
				confirmPassword: getValueById('confirmPassword')				
			};

			$.ajax({
				type: 'POST',
				data: JSON.stringify(data),
				contentType: 'application/json',
				url: url,								
			})
			.done(
				function(data, textStatus, jqXHR){
					toggleValidationErrors({});

					if (data.redirectUrl){
						window.location.href = data.redirectUrl;
					}
				}
			)
			.fail(
				function(jqXHR, textStatus, errorThrown){
					// console.log(jqXHR);

					if (jqXHR.responseJSON){
						toggleValidationErrors(jqXHR.responseJSON);
						const msg = jqXHR.responseJSON ? jqXHR.responseJSON.message : errorThrown;
						showMessagePanel(msg);
					}
					else if (jqXHR.responseText){
						showMessagePanel(jqXHR.responseText);
					}
					else {
						if (textStatus === 'error'){
							showMessagePanel('Unknown error.');
						}
					}
				}
			).always(
					function(){
						$('input[type="submit"]').prop('disabled', false);
					}
			);
		});

		function getValueById(elementId){
			return document.getElementById(elementId).value;
		}

		function showMessagePanel(message){
			if (message){
				const element = document.getElementById('messagePanel');
				if (element){
					element.style.visibility = 'visible';
					element.textContent = message;
				}
			}
		}

		function toggleValidationErrors(responseJSON){
			if (responseJSON){
				const errorDetails = responseJSON.errorDetails || {};
				const validationErrorFields = document.querySelectorAll('span[data-validation-for]');

				Array.from(validationErrorFields).forEach((element, index) => {
					if (errorDetails[element.dataset.validationFor]){
						element.textContent = errorDetails[element.dataset.validationFor].message;
					} else {
						element.textContent = '';
					}
				});
			}
		}
	</script>

<%- include('footer'); %>
