<%- include('headers.ejs'); %>
	<!-- Layout wrapper -->
  <div class="layout-wrapper layout-2">
    <div class="layout-inner">

      <!-- Layout sidenav -->
      <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">

        <!-- Brand demo (see assets/css/demo/demo.css) -->
				<div class="app-brand demo">
					<img src="https://cdn.glitch.global/2b7c1788-df0a-46c2-9fd0-ff2ef560081f/logo-sm.png" alt="" class="app-brand-logo ui-w-40">
	
					<a href="https://mexar.glitch.me" target="_blank" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Mexar</a>
					<a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
						<i class="ion ion-md-menu align-middle"></i>
					</a>
				</div>

        <div class="sidenav-divider mt-0"></div>

        <!-- Links -->
        <ul class="sidenav-inner py-1">
					<li class="sidenav-item active">
						<a href="/tank/list" class="sidenav-link">
							<i class="sidenav-icon fas fa-snowplow"></i>
							<div>Tanks</div>
						</a>
					</li>
					
					
						<li class="sidenav-item">
							<a href="/member/list" class="sidenav-link">
								<i class="sidenav-icon fas fa-users"></i>
								<div>Members</div>
							</a>
						</li>

						<li class="sidenav-item">
							<a href="/map/list" class="sidenav-link">
								<i class="sidenav-icon fas fa-map"></i>
								<div>Maps</div>
							</a>
						</li>
	
						

						<li class="sidenav-item">
							<a href="/role/list" class="sidenav-link">
								<i class="sidenav-icon fas fa-th-list"></i>
								<div>Roles</div>
							</a>
						</li>

						<li class="sidenav-item">
							<a href="/settings/view" class="sidenav-link">
								<i class="sidenav-icon fas fa-cogs"></i>
								<div>Settings</div>
							</a>
						</li>

					

					<li class="sidenav-item">
						<a href="/game-audit" class="sidenav-link">
							<i class="sidenav-icon fas fa-archive"></i>
							<div>Audit: Game</div>
						</a>
					</li>

					<li class="sidenav-item">
						<a href="/server-audit" class="sidenav-link">
							<i class="sidenav-icon fas fa-archive"></i>
							<div>Audit: Server</div>
						</a>
					</li>
                       
					<li class="sidenav-divider mb-1"></li>
					
          <li class="sidenav-item">
            <a href="/profile" class="sidenav-link"><i class="sidenav-icon fas fa-user"></i>
              <div>My Profile</div>
            </a>
          </li>

					<li class="sidenav-item">
            <a href="/changepassword" class="sidenav-link"><i class="sidenav-icon fas fa-key"></i>
              <div>Change Password</div>
            </a>
          </li>
        </ul>
      </div>
      <!-- / Layout sidenav -->

      <!-- Layout container -->
      <div class="layout-container">
        <!-- Layout navbar -->
        <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x" id="layout-navbar">
          
          <!-- Sidenav toggle (see assets/css/demo/demo.css) -->
          <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
            <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
              <i class="ion ion-md-menu text-large align-middle"></i>
            </a>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse" id="layout-navbar-collapse">
            <!-- Divider -->
            <hr class="d-lg-none w-100 my-2">            
            <div class="navbar-nav align-items-lg-center ml-auto">                                        
              <div class="demo-navbar-user nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                  <span class="d-inline-flex flex-lg-row align-items-center align-middle">                    
                    <i class="sidenav-icon fas fa-user"></i>
                    <span class="px-1 mr-lg-2 ml-2 ml-lg-0"><%= user.username %></span>
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="/profile" class="dropdown-item"><i class="fas fa-user text-light"></i> &nbsp; My Profile</a>
									<a href="/changepassword" class="dropdown-item"><i class="fas fa-key text-light"></i> &nbsp; Change Password</a>
                  <div class="dropdown-divider"></div>
                  <a href="/logout" class="dropdown-item"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
                </div>
              </div>
            </div>

          </div>
        </nav>
        <!-- / Layout navbar -->



        <!-- Layout content -->
        <div class="layout-content">
          <!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y"> 
						<!-- <div class="callout callout-danger">
							<h5>Tank Names</h5>
							<p>Tanks with offensive names will be <strong>immediately deleted</strong> without warning.</p>
						</div> -->

						<div id="messagePanel" class="alert alert-danger alert-dismissible fade show" style="visibility: hidden;">
							<button type="button" class="close" data-dismiss="alert">×</button>
						</div>

            <div class="card mb-4">
              <h6 class="card-header">
                Tank Details: New
              </h6>
              <div class="card-body">

                <!-- Modal template -->
                <div class="modal fade" id="info-modal">
									<!-- https://stackoverflow.com/questions/25874001/how-to-put-scroll-bar-only-for-modal-body -->
                  <div class="modal-dialog modal-lg" style="overflow-y: initial !important;">
                    <form class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">
													Supported Barrel Types and Body Shapes
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                      </div>
                      <div class="modal-body" style="height: 600px; overflow-y: auto;">
                        <div class="table-responsive">
													<table class="table table-bordered mb-0">
														<thead>
															<tr>																
																<th colspan="3" class="text-center">
																	<span class="badge badge-outline-info">
																		Barrel Types
																	</span>
																</th>
															</tr>

															<tr>
																<th>Name</th>
																<th>Value of "type" (in FTB code)</th>
																<th>Remarks</th>																
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Gun Barrel</td>
																<td>0</td>
																<td></td>
															</tr>
															<tr>
																<td>Trap Barrel</td>
																<td>1</td>
																<td></td>
															</tr>
															<tr>
																<td>Drone Barrel</td>
																<td>2</td>
																<td></td>
															</tr>
															<tr>
																<td>Necro Drone Barrel</td>
																<td>3</td>
																<td></td>
															</tr>
															<tr>
																<td>Auto Turret</td>
																<td>4</td>
																<td>Under tank body.</td>
															</tr>
															<tr>
																<td>Auto Turret</td>
																<td>50</td>
																<td>Does not exist in FTB. Above tank body.</td>
															</tr>
															<tr>
																<td>Minion Barrel</td>
																<td>100</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>Swarm Barrel</td>
																<td>150</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>BigAuto4Gun Turret</td>
																<td>200</td>
																<td>Does not exist in FTB. Under tank body.</td>
															</tr>
															<tr>
																<td>Missile Barrel</td>
																<td>250</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>Pillbox Barrel</td>
																<td>300</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>Rotating Missile Barrel</td>
																<td>350</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>Pentagon Barrel</td>
																<td>400</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>Square Minion Barrel</td>
																<td>450</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>Auto Twin Turret</td>
																<td>500</td>
																<td>Does not exist in FTB. Centered on tank body.</td>
															</tr>
															<tr>
																<td>Sniper Turret</td>
																<td>550</td>
																<td>Does not exist in FTB. Centered on tank body.</td>
															</tr>
															<tr>
																<td>Predator Barrel</td>
																<td>600</td>
																<td>Does not exist in FTB. Right-click zoom enabled.</td>
															</tr>
															<tr>
																<td>BigAuto4Gun Turret</td>
																<td>650</td>
																<td>Does not exist in FTB. Centered on tank body.</td>
															</tr>
															<tr>
																<td>Boomerang Barrel</td>
																<td>700</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>Block Barrel</td>
																<td>750</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>Rocket Barrel</td>
																<td>800</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>Sidewinder Barrel</td>
																<td>850</td>
																<td>Does not exist in FTB.</td>
															</tr>
															<tr>
																<td>Reverse Missile Barrel</td>
																<td>900</td>
																<td>Does not exist in FTB.</td>
															</tr>
														</tbody>
													</table>
												</div>

												<br />
												<div class="table-responsive">
													<table class="table table-bordered mb-0">
														<thead>
															<tr>																
																<th colspan="3" class="text-center">
																	<span class="badge badge-outline-primary">
																		Body Shapes
																	</span>																	
																</th>
															</tr>

															<tr>
																<th>Name</th>
																<th>Value (in FTB code)</th>
																<th>Remarks</th>																
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Circle</td>
																<td>circle</td>
																<td></td>
															</tr>
															<tr>
																<td>Square</td>
																<td>square</td>
																<td></td>
															</tr>
															<tr>
																<td>Triangle</td>
																<td>triangle</td>
																<td></td>
															</tr>
															<tr>
																<td>Pentagon</td>
																<td>pentagon</td>
																<td></td>
															</tr>
															<tr>
																<td>Smasher</td>
																<td>smasher</td>
																<td></td>
															</tr>
															<tr>
																<td>Landmine</td>
																<td>landmine</td>
																<td></td>
															</tr>
															<tr>
																<td>Spike</td>
																<td>spike</td>
																<td></td>
															</tr>
															<tr>
																<td>Dominator</td>
																<td>dominator</td>
																<td>6 sides.</td>
															</tr>
															<tr>
																<td>Base</td>
																<td>base</td>
																<td>8 sides.</td>
															</tr>
															<tr>
																<td>Drive</td>
																<td>drive</td>
																<td>Overdrive body.</td>
															</tr>
															<tr>
																<td>Teleporter</td>
																<td>teleporter</td>
																<td></td>
															</tr>
															<tr>
																<td>Telekinetic</td>
																<td>telekinetic</td>
																<td></td>
															</tr>
															<tr>
																<td>Freeze Gun</td>
																<td>freezegun</td>
																<td></td>
															</tr>
															<tr>
																<td>Teleport Gun</td>
																<td>teleportgun</td>
																<td></td>
															</tr>
															<tr>
																<td>Lightning</td>
																<td>lightning</td>
																<td></td>
															</tr>
															<tr>
																<td>Earthshaker</td>
																<td>earthshaker</td>
																<td></td>
															</tr>
															<tr>
																<td>Witchcraft</td>
																<td>witchcraft</td>
																<td></td>
															</tr>
															<tr>
																<td>Imprisoner</td>
																<td>imprisoner</td>
																<td></td>
															</tr>
															<tr>
																<td>Shapeshifter</td>
																<td>shapeshifter</td>
																<td></td>
															</tr>
															<tr>
																<td>Warg</td>
																<td>warg</td>
																<td></td>
															</tr>
															<tr>
																<td>Stupefier</td>
																<td>stupefier</td>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                        
                      </div>
                    </form>
                  </div>
                </div>
								
								
								<form id="submitForm" action="/tank/submit" method="POST">																		
									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Name:<span class="required">*</span>
										</label>										
                    <div class="col-sm-10">
											<input type="text" id="tankName" name="tankName" maxlength="30" required class="form-control" />
											<span data-validation-for="tankName" class="field-error"></span>
                    </div>
                  </div>


									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Code:<span class="required">*</span>
										</label>										
                    <div class="col-sm-10">
											<textarea id="tankCode" name="tankCode" rows="20" cols="120" 
													maxlength="8000" class="form-control" required></textarea>						

											<span data-validation-for="tankCode" class="field-error"></span>						
											<a href="https://iblobtouch.github.io/" target="_blank" class="btn-link">
												Generate tank code using Fantasy Tank Builder
											</a>
                    </div>
                  </div>

								
									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right"></label>
                    <div class="col-sm-10">
                      <input type="submit" name="submit" value="Submit Tank Code" class="btn btn-primary" />

											&nbsp;
											<a class="btn btn-outline-secondary" href="/tank/list">
												Cancel
											</a>

											&nbsp;
											<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#info-modal">
												Info
											</button>
                    </div>
                  </div>
								</form>
              </div>
            </div>

          </div>
          <!-- / Content -->

          <!-- Layout footer -->
          <nav class="layout-footer footer bg-footer-theme">
            <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
              <div class="pt-3">
                <span class="footer-text font-weight-bolder">Mexar</span> ©
              </div>              
            </div>
          </nav>
          <!-- / Layout footer -->
        </div>
        <!-- Layout content -->
      </div>
      <!-- / Layout container -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

	<script>
		// Attach a submit handler to the form
		$("#submitForm").submit(function(event) {
		  	// Stop form from submitting normally
		  	event.preventDefault();
			$('input[type="submit"]').prop('disabled', true);

			const url = document.getElementById('submitForm').getAttribute('action');

			const data = {
				tankName: getValueById('tankName'),
				tankCode: getValueById('tankCode')				
			};

			$.ajax({
				type: 'POST',
				data: JSON.stringify(data),
				contentType: 'application/json',
				url: url,								
			})
			.done(
				function(data, textStatus, jqXHR){
					toggleValidationErrors({});

					if (data.success){
						if (data.redirectUrl){
							window.location.href = data.redirectUrl;
						}
					} else {
						showMessagePanel(data.message);
					}
				}
			)
			.fail(
				function(jqXHR, textStatus, errorThrown){
					if (jqXHR.responseJSON){
						toggleValidationErrors(jqXHR.responseJSON);
						const msg = jqXHR.responseJSON ? jqXHR.responseJSON.message : errorThrown;
						showMessagePanel(msg);
					}
					else {
						if (textStatus === 'error'){
							showMessagePanel('Unknown error.');
						}
					}
				}
			).always(
					function(){
						$('input[type="submit"]').prop('disabled', false);
					}
			);
		});

		function getValueById(elementId){
			return document.getElementById(elementId).value;
		}

		function showMessagePanel(message){
			if (message){
				const element = document.getElementById('messagePanel');
				if (element){
					element.style.visibility = 'visible';
					element.textContent = message;
				}
			}
		}

		function toggleValidationErrors(responseJSON){
			if (responseJSON){
				const errorDetails = responseJSON.errorDetails || {};
				const validationErrorFields = document.querySelectorAll('span[data-validation-for]');

				Array.from(validationErrorFields).forEach((element, index) => {
					if (errorDetails[element.dataset.validationFor]){
						element.textContent = errorDetails[element.dataset.validationFor].message;
					} else {
						element.textContent = '';
					}
				});
			}
		}
	</script>
<%- include('footer'); %>
